---
import Header from "../components/Header.astro";
import '../styles/global.css';
import About from "../components/About.astro";
import News from "../components/News.astro";
import Valeurs from "../components/Valeurs.astro";
import Services from "../components/Services.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---


<Layout title="vallees-connectees">
    <Header></Header>

    <div class="flex justify-center h-[100px] my-10 z-0">
        <img src="/logo-seul.png" alt="logo-vallees-connectees"/>
    </div>
    <div class="max-w-full lg:max-w-[80%] my-0 mx-auto ">
        <News></News>
        <About></About>
        <Valeurs></Valeurs>
        <Services></Services>
        <Contact></Contact>
    </div>


    <Footer></Footer>
</Layout>


