---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Atelier robotique">
    <div style="display: flex;justify-content: center; flex-wrap:wrap">

        <div class="titles">Comment le robot fonctionne ?</div>
        <br>
        <div class="titles">Qu'est-ce qu'un capteur ?</div>
        <br>
        <div style="margin: 50px;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JaY0bxtopq8?si=Q0NsenNbYaQPIcHR"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
        <br>
        <div class="titles">Des robots partout ?</div>
        <div style="margin:50px">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tF4DML7FIWk?si=DT-1evZL7vqc8Edz"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
        <div style="margin:50px">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/P7fi4hP_y80?si=9J1_KKk-YnzsI3i8"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
        <div style="margin:50px">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/EN2L5-a3k7Q?si=Fc4npLU2kC5dNUFs"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>

        </div>
        <div style="margin:50px">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qJGsNgFNyW4?si=Bcfw-LBcl0qWx-Wq"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
    </div>
</Layout>