---
import {Icon} from 'astro-icon/components'
---

<div class="flex ">
    <a href="https://www.facebook.com/ValleesConnectees/" target="_blank">
        <Icon  name="facebook" class="text-3xl"/>
    </a>
</div>